img {
    display: none
}


.music.jpg-showing {
    display: none;
  }

  .clickable {
    cursor: pointer;
    color: #0088cc;
  }

  .clickable:hover {
    text-decoration: underline;
  }

  
  $("button#green").click(function() {
    $("body").css("background-color", "green");
  });

  console.log(backgroun-color)